*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

body{
    font-family: 'Ubuntu', sans-serif;
    background-color: #DCECF2;
    background-attachment: fixed;

}
ul{
    list-style: none;
}
a {
    text-decoration: none;
}
/* nav{
    background-color:#D3D3D3;
    margin:0;
    padding:0;
    opacity: 0.9;
    position: fixed;
    top:0;
    width: 100%;
} */
footer{
  background-color:#D3D3D3;
  margin:0;
    padding:0;
    top:0;
    width: 100%;
    
    
 
}

a:hover{
    color: #039AB5;

}
.linkNav{
    color:#108E77;

}
.linkActivo{
    color:#0C1618;
}
.boldTitle{
    font-size: 20px;
    font-weight: bold;
}
.subSection{
    list-style-type: none;
    background-image:url(https://williams-buzz.weebly.com/uploads/1/1/6/0/116043623/osteopathy-background-medium_orig.jpg);
    line-height : 25px;
    font-style: italic;
}
.carrousellPicture{
    border-radius:15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.toUpperCase{
    text-transform: uppercase;
}

.letterSpace{
    letter-spacing: 2px;
}

.justify{
    font-style: italic
}
.bold{
    font-weight: bold;
}

.alingLeft{
    text-align: left;
}
.alingRight{
    text-align: right;

}
.alingCenter{
    text-align: center;

}

.centerImage{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 12px;
  margin-top: 48px;

}
.card{
    text-align: center;
    /* display: flex; */


}
.itemIndex{
    display:inline-block;
    padding:30px 50px;
}

.centerMap{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
/* .centerVideo{
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:20px;
  margin-bottom:20px;

  width: 100%;
} */



.textConfort{
    max-width:90%;
    padding:12px;
    margin:12px;

}
h1{
    font-size: 60px;
    font-weight: bold;
    padding: 15px;
    text-align: center;
    margin-top: 50px;
    text-transform: uppercase;
    margin-bottom: 10px;
    

}
/* h4{
    font-size: 50px;
    font-weight: bold;
    padding: 15px;
    text-align: center;
} */
.contact{
    padding: 12px;
    margin: 12px;
    border: outset 1px black;
}

.maxImage{
    max-width: 75%;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    flex-direction: row;
    max-height: 100vh;
  }

.cards iframe {
    margin: 15px;
    padding: 10px;
    border: 3px solid #108E77;
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3); 
    max-width: 23vw;
    /* align-content: baseline; */

  }



.img-footer img {
    /* border-radius: 4px; */
    background-color:#D3D3D3;
    width: 180px;
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 64px;
}

ul.social-media-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.social-media-list li {
    display: inline-block;
    padding-top:30px;

}

/* .cards-tecnica {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }
  .card-tecnica {
    width: 200px;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  } 
  .card-tecnic img {
    max-width: 100%;
    align-items: center;
  }
  .card-tecnica .text {
    padding: 0 20px 20px;
  }
  .card-tecnica .text > button {
    background:#108E77;
    border: 2px;
    color: white;
    padding: 10px;
    width: 100%;
    }
  .card-tecnica:nth-child(1) {
    width: 420px;
  } */

  .item1 {
    grid-area: myArea;
  }
  
  .grid-container {
    display: grid;
    grid-template-areas: 'myArea myArea myArea myArea myArea';
    grid-gap: 10px;
    background-color:#D3D3D3;;
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

  .article-button {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(82,141,119,1) 35%, rgba(0,212,255,1) 100%);
    padding-top: 12px;    border: 2px;
    color: white;
    padding: 10px;
    width: 100%;
    font-size: 28px;
    }
    .card-title{
        font-size: 28px;
    }

    .grid-container-consejos {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 10px;
        background-color:#D3D3D3;
        padding: 10px;
      }
      
      .grid-container-consejos > div {
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        padding: 20px 0;
        font-size: 30px;
      }
      
      .item-consejos { grid-area: 1 / 3 / 2 / 4; }
      .item-consejos2 { grid-area: 2 / 3 / 3 / 4; }
      .item-consejos3 { grid-area: 1 / 1 / 2 / 2; }
      .item-consejos4 { grid-area: 1 / 2 / 2 / 3; }
      .item-consejos5 { grid-area: 2 / 1 / 3 / 2; }
      .item-consejos6 { grid-area: 2 / 2 / 3 / 3; }

      @media only screen and (max-width:840px){
       #carouselExampleControls{
            display:none;
        } 
        .img-footer img {
          display: block;
          margin-left: auto;
          margin-right: auto;
           width: 50%;
           padding-left: 0px;
      }
      .notfound .notfound-404 {
        height: 110px;
        line-height: 110px;
      }
      .notfound .notfound-404 h1 {
        font-size: 120px;
      }
      }
 
      .svg-inline--fa {
        vertical-align: -0.200em;
      }
      
      .rounded-social-buttons {
        text-align: center;
      }
      
      .rounded-social-buttons .social-button {
        display: inline-block;
        position: relative;
        cursor: pointer;
        width: 3.125rem;
        height: 3.125rem;
        border: 0.125rem solid transparent;
        padding: 0;
        text-decoration: none;
        text-align: center;
        color: #fefefe;
        font-size: 1.5625rem;
        font-weight: normal;
        line-height: 2em;
        border-radius: 1.6875rem;
        transition: all 0.5s ease;
        margin-right: 0.25rem;
        margin-bottom: 0.25rem;
      }
      
      .rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
        -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
                transform: rotate(360deg);
      }
      
      .rounded-social-buttons .fa-twitter, .fa-facebook-f, .fa-linkedin, .fa-youtube, .fa-instagram {
        font-size: 25px;
      }
      
      .rounded-social-buttons .social-button.facebook {
        background: #3b5998;
      }
      
      .rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
        color: #3b5998;
        background: #fefefe;
        border-color: #3b5998;
      }
      
      .rounded-social-buttons .social-button.twitter {
        background: #55acee;
      }
      
      .rounded-social-buttons .social-button.twitter:hover, .rounded-social-buttons .social-button.twitter:focus {
        color: #55acee;
        background: #fefefe;
        border-color: #55acee;
      }
      
      .rounded-social-buttons .social-button.linkedin {
        background: #007bb5;
      }
      
      .rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
        color: #007bb5;
        background: #fefefe;
        border-color: #007bb5;
      }
      
      .rounded-social-buttons .social-button.youtube {
        background: #bb0000;
      }
      
      .rounded-social-buttons .social-button.youtube:hover, .rounded-social-buttons .social-button.youtube:focus {
        color: #bb0000;
        background: #fefefe;
        border-color: #bb0000;
      }
      
      .rounded-social-buttons .social-button.instagram {
        background: #125688;
      }
      
      .rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
        color: #125688;
        background: #fefefe;
        border-color: #125688;
      }

      form {
        background:#D3D3D3;
        /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,100,1) 35%, rgba(5,100,181,1) 71%, rgba(0,212,255,1) 100%);      */
        font-family: 'Ubuntu', sans-serif;
        font-weight: 60px;
        font-weight: bold;
        color:white;
        line-height: 25px;
        margin:15px;
        letter-spacing: 6px;

        
    }
    .contact{
        background: rgb(9,121,100);
        background: linear-gradient(90deg, rgba(9,121,100,1) 46%, rgba(5,100,181,1) 71%, rgba(2,0,36,1) 100%, rgba(0,212,255,1) 100%);   
        font-family: 'Ubuntu', sans-serif;
        font-weight: 15px;
        color:white;
        line-height: 25px;
        
    }

        .transform {
            transform:skew(10deg,5deg);
        }

        .app-bgNav{
          background-color:#D3D3D3;

        }
        .app-bgNav a{
          color:#108E77;

        }

        .app-bgNav a:hover{
          color: #039AB5;
      
      }

      .app-fontCarousel{
        color:white;
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(82,141,119,1) 35%, rgba(0,212,255,1) 100%);
        padding-top: 12px;
            }

      #contact .card:hover i, #contact .card:hover h4{
              color: #039AB5;;
            }

          
            #contact a {
              color:#108E77;
    
            }

            #notfound {
              position: relative;
              height: 100vh;
            }
            
            #notfound .notfound {
              position: absolute;
              left: 50%;
              top: 50%;
              -webkit-transform: translate(-50%, -50%);
                  -ms-transform: translate(-50%, -50%);
                      transform: translate(-50%, -50%);
            }
            
            .notfound {
              max-width: 767px;
              width: 100%;
              line-height: 1.4;
              padding: 0px 15px;
            }
            
            .notfound .notfound-404 {
              position: relative;
              height: 150px;
              line-height: 150px;
              margin-bottom: 25px;
            }
            
            .notfound .notfound-404 h1 {
              font-family: 'Titillium Web', sans-serif;
              font-size: 186px;
              font-weight: 900;
              margin: 0px;
              text-transform: uppercase;
              -webkit-text-fill-color: transparent;
              background-size: cover;
              background-position: center;
            }
            
            .notfound h1 h2 {
              font-family: 'Titillium Web', sans-serif;
              font-size: 26px;
              font-weight: 700;
              margin: 0;
            }
            
            .notfound p {
              font-family: 'Montserrat', sans-serif;
              font-size: 14px;
              font-weight: 500;
              margin-bottom: 0px;
              text-transform: uppercase;
            }
            
            .notfound a {
              font-family: 'Titillium Web', sans-serif;
              display: inline-block;
              text-transform: uppercase;
              color: #fff;
              text-decoration: none;
              border: none;
              padding: 10px 40px;
              font-size: 14px;
              font-weight: 700;
              border-radius: 1px;
              margin-top: 15px;
              -webkit-transition: 0.2s all;
              transition: 0.2s all;
            }
            
            .notfound a:hover {
              opacity: 0.8;
            }

            #notfound4 {
              max-width: 100px;
              max-height: 100px;
            }